@charset "UTF-8";

@charset "UTF-8";

   h2{
   	  color : #586E9E;
      text-align: center;
   }

   table{
      width:700px;
      border-collapse:collapse;
      margin-left:auto;
      margin-right:auto;
   }

   th, td{
      border : 1px solid #cccccc;
      padding:7px;

   }

   button{
      display:inline;
   }

   #frm_button{
   		text-align: center;
   }

   #pagediv a{
   		text-decoration: none;
	   	outline: none
   		margin-top:5px;
   		text-align:center;
   }