@charset "UTF-8";

#listDiv{
   		padding:0px 400px;
   }

   #nemu_div{
		width: 100%;
		margin-bottom:15px;
   }
   .nemu__data{
   		display: inline;
   }


   #searchFrm{
   		float: left;
   }
   #sortFrm{
   		display:inline-block;
		margin-left:25px;
		height : 27px;
		width : 130px;

   }
   #nemuButton{
   		float: right;
   }

   h1{
   	  color : #586E9E;
      text-align: center;
   }

   table{
      width:100%;
      border-collapse:collapse;
      margin-left:auto;
      margin-right:auto;
   }

   #listTable > th, td{
      border : 1px solid #cccccc;
      padding:5px;
      text-align: center;
   }
   tr{
   		height:34px;
   }

   button{
      display:inline;
   }

   #pagediv a{
   		text-decoration: none;
	   	outline: none
   		margin-top:5px;
   		text-align:center;
   }