@charset "UTF-8";

	#frm{
		text-align: center;
	}

	h2{

		color : #586E9E;
	}

	table{
		padding-left : 50px;
		width:400px;
		border-collapse:collapse;
		margin-left:auto;
   		margin-right:auto;

	}

	th, td{
		padding:5px;
		text-align: center;
	}

	.input_text{
		width:300px;
		height:25px;
	}




